<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.runintest"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25" />
    
    <original-package android:name="com.android.runintest" />
    
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission  android:name="android.permission.SHUTDOWN"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.android.runintest.drawer.BaseActivity"/>
        <activity
            android:name="com.android.runintest.RunInTestActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                android:value="com.android.runintest.RunInTestFragment"/>
            <meta-data android:name="com.android.runintest.targetAction"
                       android:value="com.android.runintest.action.RebootTestActivity"/>
        </activity>
        
        <!--For  Development -->
        <activity android:name="com.android.runintest.RunInTest$DevelopRunInTest">
            <intent-filter>
                <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.runintest.action.DevelopRunInTest" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                       android:value="com.android.runintest.RunInTestFragment"/>
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/develop_runintest"/>
        </activity>

        <!-- Test Items -->
        <activity android:name="com.android.runintest.RunInTest$RebootTestActivity">
            <intent-filter>
                <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.runintest.action.RebootTestActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                       android:value="com.android.runintest.items.reboot.RebootTest"/>
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/reboot_test_title"/>
            <meta-data android:name="com.android.runintest.targetAction"
                       android:value="com.android.runintest.action.VibrateTestActivity"/>
        </activity>

        <activity android:name="com.android.runintest.RunInTest$VibrateTestActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.runintest.action.VibrateTestActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
               <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                android:value="com.android.runintest.items.VibrateTest"/>
            <meta-data android:name="com.android.runintest.title"
                     android:value="@string/vibrate_test_title"/>
            <meta-data android:name="com.android.runintest.targetAction"
                       android:value="com.android.runintest.action.LcdTestActivity"/>
        </activity>
        
        <activity android:name="com.android.runintest.RunInTest$LcdTestActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.runintest.action.LcdTestActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                android:value="com.android.runintest.items.LcdTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/lcd_test_title"/>
            <meta-data android:name="com.android.runintest.targetAction"
                       android:value="com.android.runintest.action.AudioTestActivity"/>
        </activity>
        
        <activity android:name="com.android.runintest.RunInTest$AudioTestActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.runintest.action.AudioTestActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                android:value="com.android.runintest.items.AudioTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/audio_test_title"/>
        </activity>
        
        <activity android:name="com.android.runintest.RunInTest$VedioTestActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                android:value="com.android.runintest.items.VedioTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/vedio_test_title"/>
        </activity>
        
        <activity android:name="com.android.runintest.RunInTest$LightSensorActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                android:value="com.android.runintest.items.VibrateTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/lightsenor_test_title"/>
        </activity>

        <activity android:name="com.android.runintest.RunInTest$TPTestActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                       android:value="com.android.runintest.items.TPTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/tp_test_title"/>
        </activity>

        <activity android:name="com.android.runintest.RunInTest$DDRTestActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                       android:value="com.android.runintest.items.DDRTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/ddr_test_title"/>
        </activity>

        <activity android:name="com.android.runintest.RunInTest$CameraTestActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                       android:value="com.android.runintest.items.camera.CameraTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/camera_test_title"/>
        </activity>

        <activity android:name="com.android.runintest.RunInTest$EMMCTestActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                       android:value="com.android.runintest.items.EMMCTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/emmc_test_title"/>
        </activity>

        <activity android:name="com.android.runintest.RunInTest$ChargeTestActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                       android:value="com.android.runintest.items.ChargeTest" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/charge_test_title"/>
        </activity>

        <activity android:name="com.android.runintest.RunInTest$ShowRunInResult"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.runintest.action.RunInTest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                       android:value="com.android.runintest.items.showrunintest.ShowRunIn" />
            <meta-data android:name="com.android.runintest.title"
                       android:value="@string/show_result_title"/>
        </activity>

        <!-- OnlyTest -->
        <activity android:name="com.android.runintest.RunInTest$OnlyTestActivity1"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.action.onlytest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                android:value="com.android.runintest.onlytest.OnlyTest1"/>
        </activity>
        
        <activity android:name="com.android.runintest.RunInTest$OnlyTestActivity2"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.action.onlytest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest.FRAGMENT_CLASS"
                android:value="com.android.runintest.onlytest.OnlyTest2"/>
        </activity>


        <!-- Service -->
        <service android:name="com.android.runintest.TestService">
            <intent-filter>
                <action android:name="com.android.runintest.action.TESTSERVICE"/>
            </intent-filter>
        </service>

        <!-- receiver -->
        <receiver android:name="com.android.runintest.items.reboot.RebootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
