<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.runintest2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
    <original-package android:name="com.android.runintest2" />
    
    
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.android.runintest2.drawer.BaseActivity"/>
        <activity
            android:name="com.android.runintest2.RunInTestActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="com.android.runintest2.FRAGMENT_CLASS"
                android:value="com.android.runintest2.RunInTestFragment"/>
        </activity>
        
        
        <!-- Test Items -->
        <activity android:name="com.android.runintest2.RunInTest$VibrateTestActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest2.action.RunInTest" />    
            </intent-filter>
            <meta-data android:name="com.android.runintest2.FRAGMENT_CLASS"
                android:value="com.android.runintest2.items.VibrateTest" />
        </activity>
        
        <activity android:name="com.android.runintest2.RunInTest$LcdTestActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest2.action.RunInTest" />    
            </intent-filter>
            <meta-data android:name="com.android.runintest2.FRAGMENT_CLASS"
                android:value="com.android.runintest2.items.LcdTest" />
        </activity>
        
        <activity android:name="com.android.runintest2.RunInTest$AudioTestActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest2.action.RunInTest" />    
            </intent-filter>
            <meta-data android:name="com.android.runintest2.FRAGMENT_CLASS"
                android:value="com.android.runintest2.items.LightSenorTest" />
        </activity>
        
        <activity android:name="com.android.runintest2.RunInTest$VedioTestActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest2.action.RunInTest" />    
            </intent-filter>
            <meta-data android:name="com.android.runintest2.FRAGMENT_CLASS"
                android:value="com.android.runintest2.items.VedioTest" />
        </activity>
        
        <activity android:name="com.android.runintest2.RunInTest$LightSensorActivity"
            android:launchMode="singleTop">
            <intent-filter>
               <action android:name="com.android.runintest2.action.RunInTest" />    
            </intent-filter>
            <meta-data android:name="com.android.runintest2.FRAGMENT_CLASS"
                android:value="com.android.runintest2.items.VibrateTest" />
        </activity>
        
        
        <!-- OnlyTest -->
        <activity android:name="com.android.runintest2.RunInTest$OnlyTestActivity1" 
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.action.onlytest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest2.FRAGMENT_CLASS"
                android:value="com.android.runintest2.onlytest.OnlyTest1"/>
        </activity>
        
        <activity android:name="com.android.runintest2.RunInTest$OnlyTestActivity2" 
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.action.onlytest" />
            </intent-filter>
            <meta-data android:name="com.android.runintest2.FRAGMENT_CLASS"
                android:value="com.android.runintest2.onlytest.OnlyTest2"/>
        </activity>
    </application>

</manifest>
